<nb-card>
    <nb-card-header>
      Face checked logtimes
    </nb-card-header>
  
    <nb-card-body>
      <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-header>
      Pending Logtimes
    </nb-card-header>
  
    <nb-card-body>
      <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
      <ng2-smart-table [settings]="settings2" [source]="pendingSource" (deleteConfirm)="onDeleteConfirm($event)" >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>